.svg {
  width: 100%;
  height: 100%;
}

.shadow {
  filter: drop-shadow(30px -34px 7px rgb(0 0 0/ 0.4));
}

.keyboards {
  display: flex;
  align-self: center;
  margin:0;
  padding:0;
}

.keyboards > :first-child {
  filter: drop-shadow(-4px -5px 1px rgb(0 0 0/ 0.4));
}

.keyboards > :last-child {
  filter: drop-shadow(4px -5px 1px rgb(0 0 0/ 0.4));
}
