.projectContainer {
  display: flex;
  gap: 1.5rem;
  margin-block: 3rem;
  max-width: 95%;
}

.linksContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
}

.projectContainerReverse {
  display: flex;
  max-width: 95%;
  flex-direction: row-reverse;
  gap: 1.5rem;
  margin-block: 3rem;

  .previewContainer {
    filter: drop-shadow(-10px -10px 1px rgba(0, 0, 0, 0.4));
  }
.textContainer {
    justify-items: end;
  }
}

.textContainer {
  display: flexbox;
  max-width: 40rem;
  flex: 1;
  align-content: center;
}

.previewContainer {
  align-content: center;
  justify-items: center;
  pointer-events: none;
  max-width: 95%;
  flex: 1.3;
  width: 30rem;
  aspect-ratio: 16/9;
  filter: drop-shadow(10px -10px 1px rgba(0, 0, 0, 0.4));
}

@media (max-width:900px) {
  .projectContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .previewContainer {
    margin-block: 2rem;
    align-self: center;
    width: 35rem;
    aspect-ratio: 16/9;
  }

  .projectContainerReverse {
    display: flex;
    flex-direction: column-reverse;
    .textContainer {
      justify-items: start;
    }
  }



}
