.highlight {
  background: green;
  border-radius: 50%;
  filter:blur(8rem);
  background: theme('colors.secondary');
  width: 40rem;
  max-width: 95%;
  height: 6rem;
  position: absolute;
  display: flex;
}
.techContainer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  max-width: 95%;
  padding-block: 4rem;
}
.techItem {
  width: 8rem;
  border-radius: 50%;
  padding: 17%;
}

@media (max-width: 576px) {
  .techItem {
    width: 6rem;
  }
}

@media (max-width: 400px) {
  .techItem {
    width: 5rem;
  }
}
