@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "cupcake";
}
@plugin "daisyui/theme" {
  name: "retro";
}
@plugin "daisyui/theme" {
  name: "valentine";
}
@plugin "daisyui/theme" {
  name: "halloween";
}
@plugin "daisyui/theme" {
  name: "garden";
}
@plugin "daisyui/theme" {
  name: "forest";
}
@plugin "daisyui/theme" {
  name: "pastel";
}
@plugin "daisyui/theme" {
  name: "luxury";
}
@plugin "daisyui/theme" {
  name: "dracula";
}
@plugin "daisyui/theme" {
  name: "cmyk";
}
@plugin "daisyui/theme" {
  name: "autumn";
}
@plugin "daisyui/theme" {
  name: "business";
}
@plugin "daisyui/theme" {
  name: "lemonade";
}
@plugin "daisyui/theme" {
  name: "night";
}
@plugin "daisyui/theme" {
  name: "coffee";
}
@plugin "daisyui/theme" {
  name: "dim";
}
@plugin "daisyui/theme" {
  name: "nord";
}
@plugin "daisyui/theme" {
  name: "sunset";
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --key: var(--color-accent);
  --keyborder: var(--color-base-content);
}

html, body {
  height: 100%;
  margin: 0;
  scrollbar-width: none;
}

/*Base font size to define 1rem*/
html {
  font-size: 10px;
}

/*largest size displays*/
@media (min-width: 1025px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

/*smallest size displays*/
@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}
